<div class="row">
  <div class="col-10 offset-1">
    <div class="form-group">
      <%= form_for @cla do |cla| %>
        <div class="form-group">
          <%= cla.label :cla_name %><br>
          <%= cla.text_field :name, class: 'form-control z-depth-1' %>
        </div>
        <%= cla.fields_for ClaVersion.new(cla: @cla, license_text: @cla.current_version&.license_text) do |field| %>
          <div class="form-group">
            <%= field.label :license_text %><br />
            <%= field.text_area :license_text, class: 'form-control z-depth-1', rows: '10' %>
          </div>
        <% end %>
        <div class="form-actions" align="center">
          <%= cla.submit 'Update CLA version', class: 'btn btn-info' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
