<div class="row">
  <div class="col-8 offset-2">
    <div class="card border-dark">
      <div class="card-header text-center">
        Repository GitHub name:  <h3><%= @repository.name %></h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-10 offset-1">
            <h5 class="card-title"><u></u>Repository License:</h5>
            <p class="card-text">
              <%= @repository.license_name %>
            </p>
            <hr>
            <h5 class="card-title">Repository License Spdx id:</h5>
            <p class="card-text">
              <%= @repository.license_spdx_id %>
            </p>
            <hr>
            <h5 class="card-title">Description:</h5>
            <p class="card-text">
              <%= @repository.desc %>
            </p>
            <hr>
            <h5 class="card-title">Github url:</h5>
            <p class="card-text">
              <u>
                <%= link_to @repository.name, @repository.github_url, target: '_blank' %>
              </u>
            </p>
            <%- if @repository.cla_id? %>
              <hr>
              <h5 class="card-title">CLA url:</h5>
              <p class="card-text">
                <%= link_to @cla.name, cla_repository_path(@repository, @repository.cla_id)  %>
              </p>
            <% end %>
            <hr>
            <h5 class="card-title text-center">CLA:</h5>
            <p class="card-text">
              <%= form_for @repository do |f| %>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text">Select CLA:</label>
                </div>
                  <%= f.select :cla_id, Cla.all.collect { |p| [ p.name, p.id ] }, { include_blank: true }, { class: 'custom-select' } %>
                <div class="input-group-append">
                <%= f.submit class: 'btn btn-outline-info' %>
                </div>
              </div>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
