<div class="row">
  <div class="col-10 offset-1">
    <h2 align="center">
      <strong><%= @organization.name %></strong> repositories list:
    </h2>
    <br>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Repo Name</th>
        <th scope="col">License Name</th>
        <th scope="col">License Spdx Id</th>
      </tr>
      </thead>
      <tbody>
      <%- @organization.repositories.each do |repository| %>
        <%- if repository.license_spdx_id.nil? %>
          <tr class="table-danger">
            <td><%= link_to repository.name, repository_path(repository) %></td>
            <td>No license</td>
            <td></td>
          </tr>
        <%- elsif repository.license_name =~ /other/i %>
          <tr class="table-warning">
            <td><%= link_to repository.name, repository_path(repository) %></td>
            <td><%= repository.license_name %></td>
            <td><%= repository.license_spdx_id %></td>
          </tr>
        <%- else %>
          <tr>
            <td><%= link_to repository.name, repository_path(repository) %></td>
            <td><%= repository.license_name %></td>
            <td><%= repository.license_spdx_id %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
